@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');


body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}
html{
  scrollbar-width: none;
}
body {
  height: 100vh;
}
#root {
  height: 100%
}
li{
  text-transform: uppercase;
  font-size:24px;
  font-weight:bold;
  text-decoration: none;
}

/*    */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
  /* background: grey; */
  width: 100%;
}
.top-page{
  margin-top: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

#devpage {
  background-color: lightgray;
  
}
#dark-button{
  padding: 15px;
  height: fit-content;
  background-color: #0d0d0d;
  color:#999;
  text-transform: uppercase;
  font-size:32px;
  font-weight:bold;
  text-decoration: none;
}

#despage {

  background-color: rgb(54, 54, 54);
  
}
#light-button{
  padding: 15px;
  height: fit-content;
  background-color: lightgray;
  color:#0d0d0d;
  text-transform: uppercase;
  font-size:32px;
  font-weight:bold;
  text-decoration: none;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}



h1{
  margin: 0%;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}



/* 




@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
}


p {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
*/






body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #000; */
}

.dev-strobe {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}



body {
  /* margin:0px;
  font-family:'Roboto';
  text-align:center; */
}

#container {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;  
  /* position:fixed; */
  /* width:100%; */
  bottom:45%;
  display:flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

p {
  position:fixed;
  width:100%;
  bottom:30px;
  font-size:12px;
  color:#999;
  margin-top:200px;
}

/* 





 */


 body{
  display: table;
}

/*switch styles*/

div.btn-container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

div.btn-container i{
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #424242;
  font-weight: 500;
}

.btn-color-mode-switch{
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
  margin: 0px;
  width: 140px;
  height: 30px;
  background: #E0E0E0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert{
  display: none;
  background: #FF9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
  background: #151515;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
  content: attr(data-on);
  left: 68px;
  background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
  /*background: #66BB6A; */
  /*color: #fff;*/
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
  display: block;
}

/*mode preview*/
.dark-preview{
  background: #0d0d0d;
}

.dark-preview div.btn-container i.fa-sun-o{
  color: #777;
}

.dark-preview div.btn-container i.fa-moon-o{
  color: #fff;
  text-shadow: 0px 0px 11px #fff;
}

.white-preview{
  background: #fff;
}

.white-preview div.btn-container i.fa-sun-o{
  color: #ffa500;
  text-shadow: 0px 0px 16px #ffa500;
}

.white-preview div.btn-container i.fa-moon-o{
  color: #777;
}

p.by {
  
}

p.by a{
  text-decoration: none;
  color: #000;
}

.dark-preview p.by a{
  color: #777;
}

.white-preview p.by a{
  color: #000;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



#intro {
  background: radial-gradient(#fff, #aaa);
  background-size: 100vw 100vh;
  overflow: hidden;
  padding-top: 40vh;
}



/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------404-PAGE------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


#four04-page{ 
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #fff;
  font-size: 96px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px;
}

#four04-div{
  animation: glitch 0.5s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

#four04-div:before,
#four04-div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

#four04-div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

#four04-div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}






body {
  background: black;
  font-family: "Oswald", sans-serif;
  font-style: italic;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}

.glitch, .glow {
  color: rgb(223, 191, 191);
  position: relative;
  font-size: 9vw;
  animation: glitch 5s 5s infinite;
}

.glitch::before, .glow::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after, .glow::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
@keyframes noise-1 {
  3.3333333333% {
    clip-path: inset(31px 0 39px 0);
  }
  6.6666666667% {
    clip-path: inset(88px 0 1px 0);
  }
  10% {
    clip-path: inset(69px 0 30px 0);
  }
  13.3333333333% {
    clip-path: inset(72px 0 17px 0);
  }
  16.6666666667% {
    clip-path: inset(63px 0 31px 0);
  }
  20% {
    clip-path: inset(22px 0 22px 0);
  }
  23.3333333333% {
    clip-path: inset(60px 0 32px 0);
  }
  26.6666666667% {
    clip-path: inset(59px 0 20px 0);
  }
  30% {
    clip-path: inset(47px 0 15px 0);
  }
  33.3333333333% {
    clip-path: inset(79px 0 21px 0);
  }
  36.6666666667% {
    clip-path: inset(22px 0 22px 0);
  }
  40% {
    clip-path: inset(7px 0 14px 0);
  }
  43.3333333333% {
    clip-path: inset(85px 0 5px 0);
  }
  46.6666666667% {
    clip-path: inset(98px 0 3px 0);
  }
  50% {
    clip-path: inset(45px 0 8px 0);
  }
  53.3333333333% {
    clip-path: inset(15px 0 64px 0);
  }
  56.6666666667% {
    clip-path: inset(68px 0 20px 0);
  }
  60% {
    clip-path: inset(46px 0 39px 0);
  }
  63.3333333333% {
    clip-path: inset(3px 0 62px 0);
  }
  66.6666666667% {
    clip-path: inset(56px 0 3px 0);
  }
  70% {
    clip-path: inset(92px 0 7px 0);
  }
  73.3333333333% {
    clip-path: inset(90px 0 9px 0);
  }
  76.6666666667% {
    clip-path: inset(61px 0 40px 0);
  }
  80% {
    clip-path: inset(66px 0 23px 0);
  }
  83.3333333333% {
    clip-path: inset(67px 0 17px 0);
  }
  86.6666666667% {
    clip-path: inset(78px 0 20px 0);
  }
  90% {
    clip-path: inset(27px 0 64px 0);
  }
  93.3333333333% {
    clip-path: inset(15px 0 39px 0);
  }
  96.6666666667% {
    clip-path: inset(68px 0 13px 0);
  }
  100% {
    clip-path: inset(9px 0 47px 0);
  }
}
@keyframes noise-2 {
  0% {
    clip-path: inset(92px 0 8px 0);
  }
  3.3333333333% {
    clip-path: inset(73px 0 6px 0);
  }
  6.6666666667% {
    clip-path: inset(4px 0 87px 0);
  }
  10% {
    clip-path: inset(57px 0 33px 0);
  }
  13.3333333333% {
    clip-path: inset(61px 0 10px 0);
  }
  16.6666666667% {
    clip-path: inset(1px 0 71px 0);
  }
  20% {
    clip-path: inset(51px 0 33px 0);
  }
  23.3333333333% {
    clip-path: inset(82px 0 15px 0);
  }
  26.6666666667% {
    clip-path: inset(78px 0 16px 0);
  }
  30% {
    clip-path: inset(39px 0 57px 0);
  }
  33.3333333333% {
    clip-path: inset(54px 0 34px 0);
  }
  36.6666666667% {
    clip-path: inset(18px 0 28px 0);
  }
  40% {
    clip-path: inset(95px 0 3px 0);
  }
  43.3333333333% {
    clip-path: inset(63px 0 34px 0);
  }
  46.6666666667% {
    clip-path: inset(6px 0 13px 0);
  }
  50% {
    clip-path: inset(36px 0 21px 0);
  }
  53.3333333333% {
    clip-path: inset(6px 0 28px 0);
  }
  56.6666666667% {
    clip-path: inset(21px 0 56px 0);
  }
  60% {
    clip-path: inset(26px 0 15px 0);
  }
  63.3333333333% {
    clip-path: inset(88px 0 13px 0);
  }
  66.6666666667% {
    clip-path: inset(51px 0 3px 0);
  }
  70% {
    clip-path: inset(35px 0 12px 0);
  }
  73.3333333333% {
    clip-path: inset(35px 0 11px 0);
  }
  76.6666666667% {
    clip-path: inset(25px 0 36px 0);
  }
  80% {
    clip-path: inset(95px 0 2px 0);
  }
  83.3333333333% {
    clip-path: inset(15px 0 75px 0);
  }
  86.6666666667% {
    clip-path: inset(8px 0 63px 0);
  }
  90% {
    clip-path: inset(29px 0 47px 0);
  }
  93.3333333333% {
    clip-path: inset(16px 0 32px 0);
  }
  96.6666666667% {
    clip-path: inset(14px 0 15px 0);
  }
  100% {
    clip-path: inset(23px 0 31px 0);
  }
}
.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
  animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}
.glow {
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}
.wrap{
  text-wrap: wrap;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  color: rgba(165, 141, 141, 0.4);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  position: absolute;
  left: 17%;
  animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}